.home{
    padding: 0 15px;
}
.home > hr{
    max-width: 800px;
    margin: auto;
}
.welcomePage{
    max-width: 800px;
    margin: 15px auto;
    padding: 15px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(43, 39, 39, 0.36);
    border-radius: 6px;
}